VITE_SITE_URL=https://zentelinsight.com.ng
VITE_SUPABASE_URL=https://auzbmfwdxprtvjsvcxcj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_replace_me
VITE_PAYMENT_VERIFICATION_ENDPOINT=
VITE_CONTACT_FORM_ENDPOINT=
VITE_GOOGLE_SITE_VERIFICATION=
VITE_WEB_PUSH_PUBLIC_KEY=BE19mxD4eH3pRxHjZ7Y-TOg-xcb-DnjqY9sHuhQNAun7maOC2BlpgOf4zFtJGZMzAT8lK9W2BRDWm1WIAc4JCvc
